.post__info{
  margin:0 auto 10px auto ;
  width:70%;
  background-image:url("http://www.suncityvillas.com/size/1280x960/server13-cdn/2016/03/13/white-wood-wall-texture-pink-texture-9edbdd7367dfd232.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 10px;
  border-radius:5px;

}

.post__info-Center{
  text-align: center;
}

.post__info-ingredients{
  width:10%;
}
.post__info-foodPairing{
  width:20%;
}
.post__info-Wrapper{
  width:100%;
overflow: hidden;
 transition: all 800ms ease-out;
}

.image{
margin-left:15px;
}
.description{
width:70%;
margin-top: 5%;
margin-left:12%;
}

.left {
  float:left;
}
.right {
  float:right;
}

.clear{
  clear:both;
}



/**Animations**/

.example-enter {
  opacity: 0.01;
  transform: translate(100vw);
}

.example-enter.example-enter-active {
  opacity: 1;
  transition:  4000ms ease-out;
  transform: translateX(0%)
}

.example-leave {
  opacity: 1;
  transform: translateX(0%);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition:  300ms ease-in;
  transform: translateX(-100vw);
}
